In [1]:
import pandas as pd

In [10]:
url = "https://raw.githubusercontent.com/justmarkham/DAT8/master/data/chipotle.tsv"
chipo = pd.read_csv(url, sep='\t')

chipo.head(10)

,order_id,quantity,item_name,choice_description,item_price
0,1,1,Chips and Fresh Tomato Salsa,NaN,$2.39
1,1,1,Izze,[Clementine],$3.39
2,1,1,Nantucket Nectar,[Apple],$3.39
3,1,1,Chips and Tomatillo-Green Chili Salsa,NaN,$2.39
4,2,2,Chicken Bowl,"[Tomatillo-Red Chili Salsa (Hot), [Black Beans...",$16.98
5,3,1,Chicken Bowl,"[Fresh Tomato Salsa (Mild), [Rice, Cheese, Sou...",$10.98
6,3,1,Side of Chips,NaN,$1.69
7,4,1,Steak Burrito,"[Tomatillo Red Chili Salsa, [Fajita Vegetables...",$11.75
8,4,1,Steak Soft Tacos,"[Tomatillo Green Chili Salsa, [Pinto Beans, Ch...",$9.25
9,5,1,Steak Burrito,"[Fresh Tomato Salsa, [Rice, Black Beans, Pinto...",$9.25

In [11]:
total_rows = chipo.shape[0]
print("Total number of entries (rows):", total_rows)

Total number of entries (rows): 4622

In [12]:
total_columns = chipo.shape[1]
print("Total number of columns:", total_columns)

Total number of columns: 5
Total number of columns: 5

In [13]:
column_names = chipo.columns
print("Column names:")
for column in column_names:
    print(column)

Column names:
order_id
quantity
item_name
choice_description
item_price

In [14]:
dataframe_index = chipo.index
print("DataFrame index:")
print(dataframe_index)

DataFrame index:
RangeIndex(start=0, stop=4622, step=1)

In [15]:
most_ordered_item = chipo['item_name'].value_counts().idxmax()
print("Most ordered item:", most_ordered_item)

Most ordered item: Chicken Bowl

In [16]:
total_items_ordered = chipo['quantity'].sum()
print("Total number of items ordered:", total_items_ordered)

Total number of items ordered: 4972

In [17]:
most_ordered_choice = chipo['choice_description'].value_counts().idxmax()
print("Most ordered choice:", most_ordered_choice)

Most ordered choice: [Diet Coke]

In [18]:
convert_to_float = lambda x: float(x[1:])
chipo['item_price'] = chipo['item_price'].apply(convert_to_float)

print(chipo.head())

   order_id  quantity                              item_name
0         1         1           Chips and Fresh Tomato Salsa  \
1         1         1                                   Izze
2         1         1                       Nantucket Nectar
3         1         1  Chips and Tomatillo-Green Chili Salsa
4         2         2                           Chicken Bowl

                                  choice_description  item_price
0                                                NaN        2.39
1                                       [Clementine]        3.39
2                                            [Apple]        3.39
3                                                NaN        2.39
4  [Tomatillo-Red Chili Salsa (Hot), [Black Beans...       16.98

In [19]:
total_revenue = chipo['item_price'].sum()
print("Total revenue:", total_revenue)

Total revenue: 34500.16

In [20]:
total_orders = chipo['order_id'].nunique()
print("Total number of orders:", total_orders)

Total number of orders: 1834

In [21]:
average_order_value = total_revenue / total_orders
print("Average order value:", average_order_value)

Average order value: 18.811428571428575

In [22]:
total_unique_items = chipo['item_name'].nunique()
print("Total number of unique items sold:", total_unique_items)

Total number of unique items sold: 50

In [23]:
expensive_products_count = chipo[chipo['item_price'] > 10]['item_name'].count()
print("Count of products that cost more than $10:", expensive_products_count)

Count of products that cost more than $10: 1130

In [27]:
url2 = "https://raw.githubusercontent.com/justmarkham/DAT8/master/data/u.user"
users = pd.read_csv(url2, sep='|')
mean_age_per_occupation = users.groupby('occupation')['age'].mean()

print(mean_age_per_occupation)

occupation
administrator    38.746835
artist           31.392857
doctor           43.571429
educator         42.010526
engineer         36.388060
entertainment    29.222222
executive        38.718750
healthcare       41.562500
homemaker        32.571429
lawyer           36.750000
librarian        40.000000
marketing        37.615385
none             26.555556
other            34.523810
programmer       33.121212
retired          63.071429
salesman         35.666667
scientist        35.548387
student          22.081633
technician       33.148148
writer           36.311111
Name: age, dtype: float64

In [38]:
data1 = pd.DataFrame({'ID': [1, 2, 3], 'Name': ['name1', 'name2', 'name3']})
data2 = pd.DataFrame({'ID': [4, 5, 6], 'Name': ['name4', 'name5', 'name6']})
data3 = pd.DataFrame({'ID': [7, 8, 9], 'Name': ['name7', 'name8', 'name9']})

all_data = pd.concat([data1, data2], ignore_index=True)
all_data_col = pd.concat([data1, data2], axis=1)

print("Merged Data (rows):")
print(all_data)

print("\nMerged Data (columns):")
print(all_data_col)

Merged Data (rows):
   ID   Name
0   1  name1
1   2  name2
2   3  name3
3   4  name4
4   5  name5
5   6  name6

Merged Data (columns):
   ID   Name  ID   Name
0   1  name1   4  name4
1   2  name2   5  name5
2   3  name3   6  name6

In [29]:
url3 = "https://raw.githubusercontent.com/uiuc-cse/data-fa14/gh-pages/data/iris.csv"
iris = pd.read_csv(url3)

iris.columns = ['sepal_length', 'sepal_width', 'petal_length', 'petal_width', 'species']
missing_values = iris.isnull().any()


print("First few rows of the 'iris' DataFrame:")
print(iris.head())
print("\nMissing values information:")
print(missing_values)

First few rows of the 'iris' DataFrame:
   sepal_length  sepal_width  petal_length  petal_width species
0           5.1          3.5           1.4          0.2  setosa
1           4.9          3.0           1.4          0.2  setosa
2           4.7          3.2           1.3          0.2  setosa
3           4.6          3.1           1.5          0.2  setosa
4           5.0          3.6           1.4          0.2  setosa

Missing values information:
sepal_length    False
sepal_width     False
petal_length    False
petal_width     False
species         False
dtype: bool

In [30]:
data = {
    'evolution': ['Ivysaur', 'Charmeleon', 'Wartortle', 'Metapod'],
    'hp': [45, 39, 44, 45],
    'name': ['Bulbasaur', 'Charmander', 'Squirtle', 'Caterpie'],
    'pokedex': ['yes', 'no', 'yes', 'no'],
    'type': ['grass', 'fire', 'water', 'bug']
}
pokemon = pd.DataFrame(data)

# Step 3: Rearrange the columns in the specified order using DataFrame indexing
pokemon = pokemon[['name', 'type', 'hp', 'evolution', 'pokedex']]

# Display the resulting DataFrame
print(pokemon)

         name   type  hp   evolution pokedex
0   Bulbasaur  grass  45     Ivysaur     yes
1  Charmander   fire  39  Charmeleon      no
2    Squirtle  water  44   Wartortle     yes
3    Caterpie    bug  45     Metapod      no

In [33]:
url4 = "https://raw.githubusercontent.com/wesm/pydata-book/2nd-edition/datasets/babynames/yob1880.txt"
columns = ['name', 'sex', 'births']
baby_names = pd.read_csv(url4, names=columns)

print("First 10 entries of 'baby_names':")
print(baby_names.head(10))
print("\nDataFrame without any column deletion:")
print(baby_names.head(10))

First 10 entries of 'baby_names':
        name sex  births
0       Mary   F    7065
1       Anna   F    2604
2       Emma   F    2003
3  Elizabeth   F    1939
4     Minnie   F    1746
5   Margaret   F    1578
6        Ida   F    1472
7      Alice   F    1414
8     Bertha   F    1320
9      Sarah   F    1288

DataFrame without any column deletion:
        name sex  births
0       Mary   F    7065
1       Anna   F    2604
2       Emma   F    2003
3  Elizabeth   F    1939
4     Minnie   F    1746
5   Margaret   F    1578
6        Ida   F    1472
7      Alice   F    1414
8     Bertha   F    1320
9      Sarah   F    1288

In [37]:
url5 = "https://raw.githubusercontent.com/datasets/investor-flow-of-funds-us/master/data/weekly.csv"
investor_data = pd.read_csv(url5)
data_frequency = investor_data.shape[0]
print("Frequency of the dataset:", data_frequency)

investor_data['Date'] = pd.to_datetime(investor_data['Date'])
investor_data.set_index('Date', inplace=True)
print("\nInvestor data with 'Date' as the index:")
print(investor_data.head())

Frequency of the dataset: 44

Investor data with 'Date' as the index:
            Total Equity  Domestic Equity  World Equity  Hybrid  Total Bond
Date
2012-12-05         -7426            -6060         -1367     -74        5317  \
2012-12-12         -8783            -7520         -1263     123        1818
2012-12-19         -5496            -5470           -26     -73         103
2012-12-26         -4451            -4076          -375     550        2610
2013-01-02        -11156            -9622         -1533    -158        2383

            Taxable Bond  Municipal Bond  Total
Date
2012-12-05          4210            1107  -2183
2012-12-12          1598             219  -6842
2012-12-19          3472           -3369  -5466
2012-12-26          3333            -722  -1291
2013-01-02          2103             280  -8931